<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>notmedium.io - free and open writing platform</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/notmedium.css">

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.min.js"></script>

  </head>
  <body>
    <main>
      <div class="container">
        {{ partial "partials/header" . }}

        {{ template "content" . }}

        {{ partial "partials/footer" . }}
      </div>
    </main>
  </body>
</html>
