<div>
  <h2>Login</h2>

  <form id="login" action="/login" method="post">
    <label>Username</label>
    <input type="text" name="username" placeholder="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Register</button>
  </form>
</div>

<hr>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script src="/public/js/login.js"></script>
